.filter-bar {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f4f4f9;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.filter-bar button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  background-color: #eaeaea;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-bar button.active {
  background-color: #6a4c93;
  color: white;
  font-weight: bold;
}

.filter-bar button:hover {
  background-color: #6a4c93;
  color: white;
}
